
/* ให้การคำนวณขนาดง่ายขึ้น */
*{
    box-sizing: border-box;
}

/* พื้นฐานของหน้าเว็บ */
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #f9fafb;
    color: #333;
    line-height: 1.5;
}

/* กล่องหลัก Layout: mobile-first */
.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;   /* แค่เป็นขอบเขตสูงสุด ไม่ fix */
}

/* หัวข้อ */
header{
    text-align: center;
    margin-bottom: 2rem;
}

header h1{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

/* Form Group */
/* แต่ละช่อง input */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Label */
label{
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* ช่อง input */
input{
    width: 100%;    /* fluid */
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

input:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

/* Error message */
.error{
    color: #d9534f;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    min-height: 1em;    /* กัน layout กระโดด 1em อ้างอิงตาม font-size: 0.85rem*/
}

/* Button */
button{
    padding: 0.75rem;
    background: #008000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    width: 100%; /* fluid */
}

button:hover {
  background: #006400;
}

button:disabled{
    background-color: #ccc;     /* สีเทาอ่อน */
    color: #666;                /* สีตัวอักษรเทาเข้ม */
    cursor: not-allowed;          /* เปลี่ยนเมาส์เป็นรูปห้ามกด */
    opacity: 0.8;                 /* ทำให้ดูจางลง */
}

/*=== Responsive Breakpoints ===*/
/* Tablet */
@media (min-width: 678px){
    form{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    /* ให้ label + input อยู่เต็ม column */
    .form-group{
        flex-direction: column;
    }

    /* ปุ่ม Register กินเต็มแถว */
    button{
        grid-column: 1 / -1;
        font-size: 1.15rem;
    }
}

/* Desktop */
@media (min-width: 1024px){
    .container{
        padding: 2rem;
    }

    /* ฟอร์มจัด layout แบบ responsive grid โดยแต่ละช่องมีความกว้างขั้นต่ำ 300px และจะขยายเต็มพื้นที่ที่เหลือ พร้อมมีช่องว่างระหว่างกัน 2rem */
    form{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    button{
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 20rem;   /* ปุ่มไม่ยาวเกินไป แต่ยัง fluid */
    }
}